[package]
name = "userspace_testing"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rille = { path = "../../rille" }
rand = { version = "0.8.5", default-features = false, features = ["small_rng"] }